<ion-view view-title="Iniciar Sesión">
  <ion-content>
    <div class="row center-xs middle-xs">
      <div class="col-xs-12" style="margin-bottom:1em;padding:1em;">
        <h2 style="color:rgb(16, 111, 152)">Congelados Delfín</h2>
      </div>
      <div class="col-xs-12" style="text-align:center;">
        <img src="img/icon.jpg" alt="Logo" class="img-responsive" style="width:50%;" />
      </div>
      <div class="col-xs-12" ng-show="badLogin">
        <h2 style="color:rgb(164, 32, 32)">Datos de inicio de sesión incorrectos...</h2>
      </div>
      <div class="col-xs-12">
        <div class="list list-inset">
          <label class="item item-input">
            <input type="text" placeholder="Nombre de usuario" ng-model="loginData.username">
          </label>
          <label class="item item-input">
            <input type="password" placeholder="Contraseña" ng-model="loginData.password">
          </label>
        </div>
      </div>
      <div class="col-xs-12" style="margin-top:1em;">
        <button class="button button-positive" ng-click="login(loginData)">Iniciar Sesión</button>
      </div>
    </div>
  </ion-content>
</ion-view>
